<!DOCTYPE html>

<html> 
  <head>
    <meta charset="utf-8" >
    <title>PKI</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.0.0/css/bootstrap-switch-button.min.css" rel="stylesheet">  
      <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.0.0/js/bootstrap-switch-button.min.js"></script>
      <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
      <style>
        .bs-example{
	        margin: 20px;
        }
        @media screen and (min-width: 768px) {
          .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
		        display: block;
	        }
	        .dropdown-menu{
		        margin-top: 0;
	        }
	        .dropdown-toggle{
		        margin-bottom: 2px;
	        }
	        .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
		        margin-bottom: 0;
	        }
        }
</style>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

</head>
  <body>

  
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">


          <li><a class="navbar-link" href="{% url 'index' %}">Home</a></li>
          <li><a class="navbar-link" href="{% url 'aps:about' %}">About</a></li>    
          
          {% if user.is_authenticated %}
            {% if user.profile.role == 1 %}
              <li><a class="navbar-link" href="{% url 'admin:index' %}">Administrator </a></li> 
            {% endif %}
          {% endif %}  

          {% if user.is_authenticated %}
            {% if user.profile.role == 1 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vault Setting <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'aps:validkey'%}">Configuration</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 1 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Master Key <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'aps:master_key' %}">Create</a></li>
                    <li><a href="{% url 'aps:list_key' %}">Key List</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 1 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Key Approval <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'aps:caapprov' %}">CA Approval</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}        

          {% if user.is_authenticated %}
            {% if user.profile.role == 1 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Key Log <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Country Signing CA</a></li>
                    <li><a href="#">Document Signers</a></li>
                    <li><a href="#">Inspection Systems</a></li>
                    <li><a href="#">Master List Signers</a></li>
                    <li><a href="#">Document List Signers</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 10 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Pair Key <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'aps:create_key' %}">Create</a></li>
                    <li><a href="#">List</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 2 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">CSCA Key <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'aps:requestcsca' %}">Request Pair Key</a></li>
                    <li><a href="#">List Pair Key</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 2 %}
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Certificate <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Create Certificate</a></li>
                    <li><a href="#">List Certificate</a></li>
                  </ul>
              </li>
            {% endif %}
          {% endif %}

          {% if user.is_authenticated %}
            {% if user.profile.role == 3 %}
              <li><a href="#">DS Key</a></li>
            {% endif %}
          {% endif %}     

          {% if user.is_authenticated %}
            {% if user.profile.role == 4 %}
              <li><a href="#">IS Key</a></li>
            {% endif %}
          {% endif %}   

          {% if user.is_authenticated %}
            {% if user.profile.role == 5 %}
              <li><a href="#">MLS Key</a></li>
            {% endif %}
          {% endif %}     

          {% if user.is_authenticated %}
            {% if user.profile.role == 6 %}
              <li><a href="#">DLS Key</a></li>
            {% endif %}
          {% endif %}     

          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'aps:user_login' %}">Login</a></li>
          {% endif %}

        </ul>
      
      </div>
    </nav>

    <div class="container">
      {% block body_block %}
      {% endblock %}
    </div>
    
  </body>
</html>















