{% extends 'aps/base.html' %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nama Master Key</th>
                    <th class="text-center" scope="col">Negara</th>
                    <th class="text-center" scope="col">Provinsi</th>                    
                    <th class="text-center" scope="col">Kota</th>
                    <th class="text-center" scope="col">Jalan</th>
                    <th class="text-center" scope="col">Pos</th>
                    <th class="text-center" scope="col">Organization</th>   
                    <th class="text-center" scope="col">Approval</th>                    
                </tr>
            </thead>
            <tbody>
                {% for kunci in pairkey %}
                    <tr>
                        <th class="text-center" scope="row">{{ kunci.masterkey }} </th>
                        <th class="text-center" scope="row">{{ kunci.negara }} </th>
                        <th class="text-center" scope="row">{{ kunci.provinsi }} </th>
                        <th class="text-center" scope="row">{{ kunci.kota }} </th>    
                        <th class="text-center" scope="row">{{ kunci.jalan }} </th>
                        <th class="text-center" scope="row">{{ kunci.pos }} </th>       
                        <th class="text-center" scope="row">{{ kunci.organization }} </th> 
                        <th class="text-center">
                            {% if kunci.status == '0' %}  
                                <button class="btn btn-warning form-control" onClick="editUser({{kunci.masterkey}})" data-toggle="modal" data-target="#myModal")>Approval</button>   
                            {% elif kunci.status == '1' %}   
                                <button type="submit" class="btn btn-primary">V</button>    
                            {% else %}    
                                <button type="submit" class="btn btn-danger">X</button>  
                            {% endif %}    
                        </th>                                                                                                                                   
                    </tr>    
                {% endfor %}             
            </tbody>
        </table>     
        </div>
  </div>    

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Approval</h4>
        </div>

        <form action="">
        {% csrf_token %}

        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">Master Key</label>
            <input class="form-control" id="masterkey" type="text" name="masterkey" value ="{{ kunci.masterkey }}"/>
        </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>

      </div>
    </div>
  </div>
  
<script language="javascript" type="text/javascript"> 

</script>

{% endblock %}      