{% extends 'aps/base.html' %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Nama Master Key</th>
                    <th class="text-center" scope="col">Negara</th>
                    <th class="text-center" scope="col">Provinsi</th>                    
                    <th class="text-center" scope="col">Kota</th>
                    <th class="text-center" scope="col">Jalan</th>
                    <th class="text-center" scope="col">Pos</th>
                    <th class="text-center" scope="col">Organization</th>   
                    <th class="text-center" scope="col">Approval</th>                    
                </tr>
            </thead>
            <tbody>
                {% for kunci in pairkey %}
                    <tr>
                        <th class="text-center" scope="row">{{ kunci.masterkey }} </th>
                        <th class="text-center" scope="row">{{ kunci.negara }} </th>
                        <th class="text-center" scope="row">{{ kunci.provinsi }} </th>
                        <th class="text-center" scope="row">{{ kunci.kota }} </th>    
                        <th class="text-center" scope="row">{{ kunci.jalan }} </th>
                        <th class="text-center" scope="row">{{ kunci.pos }} </th>       
                        <th class="text-center" scope="row">{{ kunci.organization }} </th> 
                        <th class="text-center">
                            {% if kunci.status == '0' %}  
                                <form>
                                    <button type="submit" class="btn btn-warning">O</button>
                                </form>    
                            {% elif kunci.status == '1' %}   
                                <button type="submit" class="btn btn-primary">V</button>    
                            {% else %}    
                                <button type="submit" class="btn btn-danger">X</button>  
                            {% endif %}    
                        </th>                                                                                                                                   
                    </tr>    
                {% endfor %}             
            </tbody>
        </table>     
        </div>
  </div>    

{% endblock %}      