 {% extends 'aps/base.html' %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center" scope="col">Main Key</th>
            <th class="text-center" scope="col">Request Certificate</th>
            <th class="text-center" scope="col">Certificate</th>
            <th class="text-center" scope="col">Self Sign</th>            
          </tr>
          </thead>  
          <tbody>
            <tr>
              <th class="text-center" scope="row">ff</th>
              <th class="text-center" scope="row">
                <form action="{% url 'aps:certificate' %}" method ="POST">
                  {% csrf_token %}
                  <button class="btn btn-primary"><i class="fa fa-check"></i> </button>
                </form>  
              </th>
              <th class="text-center" scope="row"><button class="btn btn-primary"><i class="fa fa-check"></i>  </button></th>
              <th class="text-center" scope="row"><button class="btn btn-primary"><i class="fa fa-check"></i>  </button></th>
            </tr>  
          </tbody>         
      </table>

      </tbody>
    </div>
  </div>    

{% endblock %}      