
{% extends "aps/base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h3>
      <p align ="center">
        Public Key Infrastructure
      </p>
    </h3>

    {% if user.is_authenticated %}
        <h3>Hello {{ user.username }}
        {% for peran in auth %}
            {% if  peran.user_id == user.id %} 
              {{ peran.role }}
            {% else %}  
            {% endif %} 
        {% endfor %}</h3>
    {% else %}

    {% endif %}
  </div>
</div>
{% endblock %}

