{% extends "aps/base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h3>
      <p align ="center">
        Create New Key
      </p>
    </h3>

    <form method="post" action="{% url 'aps:create_key_submit' %}">
      {% csrf_token %}
              
        <div class="form-group row">
          <label class="form-label col-md-3" for="IDMaster">ID Master Key</label>
            <div class="col-md-9">
              <input readonly type="text" name="IDMaster" maxlength="255"  class="form-control form-control-sm" 
              title="" required="" id="IDMaster" value = {{ user.id }} >
            </div>
        </div>

        <div class="form-group row">
          <label class="form-label col-md-3" for="encrypttype">Encryption Type</label>
            <div class="col-md-9">
              <select class="form-control" id="encrypttype" name="encrypttype">
                <option value ="RSA1024">RSA (1024)</option>
                <option value ="ECDSA1024">Elliptic Curve DSA (1024) </option> 
                <option value ="DSA1024">Digital Signature Algorithm (1024)</option>
                <option value ="HASH256">Hashing Algorithms (256)</option>
              </select>
            </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" >
              GENERATE
              </button>
            </div>
          </div>
        </div>

        </form>

        <form  method="post" action="{% url 'aps:key_submit' %}">
          {% csrf_token %}
            <div class="form-group row">
              <label class="form-label col-md-3" for="public">Public Key</label>
                <div class="col-md-9">
                <textarea readonly type="text" name="public" rows="10"  class="form-control form-control-sm" 
                required="" id="public"> {{ public }}</textarea> 
              </div>
          </div>
            <div class="form-group row">
              <label class="form-label col-md-3" for="private">Private Key</label>
                <div class="col-md-9">
                <textarea readonly type="text" name="private" rows="10"  class="form-control form-control-sm" 
                required="" id="private" >{{ private }}</textarea>
              </div>
          </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-secondary btn-block" >
              SAVE
              </button>
            </div>
          </div>
        </div>

        </form>

        <p></p>
</div>

{% endblock %}

