{% extends "aps/base.html" %}
{% block body_block %}


<script language="javascript" type="text/javascript"> 

$(document).ready(function(){

var RSA = [
	{display: "512", value: "512" }, 
	{display: "1024", value: "1024" }, 
	{display: "2048", value: "2048" }]; 

var ECDSA = [
	{display: "256", value: "256" }, 
	{display: "512", value: "512" }, 
	{display: "1024", value: "1024" }, 
	{display: "2048", value: "2048" }]; 

var DSA = [ 
	{display: "1024",value: "1024" }, 
	{display: "2048",value: "2048" },
  {display: "3072", value: "3072" }];    
	
var HASH = [
	{display: "224", value: "SHA224" }, 
	{display: "256", value: "SHA256" }, 
	{display: "384", value: "SHA384" }, 
	{display: "512", value: "SHA512" }];  

$("#encrypttype").change(function() {
		var parent = $(this).val(); 
		
		switch(parent){ 
			  case 'RSA':
			 	list(RSA);
				break;
			  case 'HASH':
			 	list(HASH);
				break;	
			  case 'ECDSA':
			 	list(ECDSA);
				break;
        case 'DSA':
			 	list(DSA);
				break;	        		
			default: 
				$("#bit").html('');	 
				break;
		   }
});

function list(array_list)
{
	$("#bit").html(""); 
	$(array_list).each(function (i) {  
		$("#bit").append("<option value=\""+array_list[i].value+"\">"+array_list[i].display+"</option>");
	});
}

});

</script>

<div class="container">
  <div class="jumbotron">
    <h3>
      <p align ="center">
        Create New Key
      </p>
    </h3>

    <form method="post" action="{% url 'aps:create_key_submit' %}">
      {% csrf_token %}
              
        <div class="form-group row">
          <label class="form-label col-md-3" for="IDMaster">ID Master Key</label>
            <div class="col-md-9">
              <input readonly type="text" name="IDMaster" maxlength="255"  class="form-control form-control-sm" 
              title="" required="" id="IDMaster" value = "{% for hasil in test %} {{ hasil.id }} {% endfor %}" >
            </div>
        </div>

        <div class="form-group row">
          <label class="form-label col-md-3" for="encrypttype">Encryption Type</label>
            <div class="col-md-9">
              <select class="form-control" id="encrypttype" name="encrypttype">
                <option value =""></option>
                <option value ="RSA">RSA</option>
                <option value ="ECDSA">Elliptic Curve DSA  </option> 
                <option value ="DSA">Digital Signature Algorithm </option>
                <option value ="HASH">Hashing Algorithms </option>
              </select>
            </div>
        </div>

        <div class="form-group row">
          <label class="form-label col-md-3" for="bitrsa">Bit Lenghth</label>
            <div class="col-md-9">
              <select class="form-control" id="bit" name="bit">
              </select>
            </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" >
              GENERATE
              </button>
            </div>
          </div>
        </div>

        </form>

        <form  method="post" action="{% url 'aps:key_submit' %}">
          {% csrf_token %}
            <div class="form-group row">
              <label class="form-label col-md-3" for="public">Public Key</label>
                <div class="col-md-9">
                <textarea readonly type="text" name="public" rows="10"  class="form-control form-control-sm" 
                required="" id="public"> {{ public }}</textarea> 
              </div>
          </div>
            <div class="form-group row">
              <label class="form-label col-md-3" for="private">Private Key</label>
                <div class="col-md-9">
                <textarea readonly type="text" name="private" rows="10"  class="form-control form-control-sm" 
                required="" id="private" >{{ private }}</textarea>
              </div>
          </div>

        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-secondary btn-block" >
              SAVE
              </button>
            </div>
          </div>
        </div>

        </form>

        <p></p>
</div>


{% endblock %}

