{% extends 'aps/base.html' %}
{% block body_block %}

  <div class="container">
    <div class="jumbotron">
      <h3 align="center"> </h3>

      <div>
      </div>

      <form method="post"action="{% url 'aps:validkeysubmit' %}">
        {% csrf_token %}

        <div class="form-group row">
          <label class="form-label col-md-3" for="cscakey">CKMS</label>
            <div class="col-md-9">
                <input  type="checkbox" data-toggle="switchbutton" > 
            </div>
        </div>           

        <div class="form-group row">
          <label class="form-label col-md-3" for="cscakey">Public Key Infrastructure</label>
            <div class="col-md-9">
                <input  type="checkbox" data-toggle="switchbutton"> 
            </div>
        </div>        

        <div class="form-group row">
            <div class="col-md-9">
              <input type="hidden" name="validitykeys"
                maxlength="255"
                class="form-control form-control-sm"
                placeholder="Username" title="" required="" value="365h"
                id="validitykeys">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9">
              <input type="hidden" name="issuing_certificates"
                maxlength="255"
                class="form-control form-control-sm"
                title="" required="" value="http://127.0.0.1:8200/v1/pki/{{ user.username }}"
                id="issuing_certificates">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9">
              <input type="hidden" name="crlurl"
                maxlength="255"
                class="form-control form-control-sm"
                title="" required="" value="http://127.0.0.1:8200/v1/pki/crl/{{ user.username }}"
                id="crlurl">
            </div>
        </div>        

        <div class="row">
          <div class="col-12 text-center">
            <div class="form-group">
              <button type="submit" class="form-button btn btn-success btn pull-right" >
              GENERATE
              </button>
            </div>
          </div>
        </div>
        
      </form>
    </div>
  </div>

{% endblock %}